* {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    padding-left: 100px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
}

main {
    background-color: rgb(20, 17, 17);
    width: 800px;
    height: 600px;
    margin:  auto;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 30px;
}

.top {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


.left {
    background-color: orangered;
    width: 99%;
    height: 90%;
}

.right {
    background-color: orange;
    width: 72%;
    height: 90%;
}

.bottom {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    grid-gap: 1px;
}

.b_left {
    background-color: green;
    /* width: 300px; */
    width: 90%;
}

.t_right {
    /* width: 400px; */
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr;
    /* grid-column: span 2;
    grid-row: span 2; */
    /* grid-gap: 1px; */
}

.r_top {
    /* padding: 20px; */
    /* margin-bottom: 5px; */
    height: 90%;
    
    background-color: rgba(27, 125, 182, 0.719);
}

.r_btm {
    margin-top: 5px;
    height: 95%;
    background-color: rgba(27, 125, 182, 0.719);
}